body{
  background-color:black;
  margin:0;
}

.background{
  position: absolute;
  left:0;
  top:0;
  width:100vw;
  height:100vh;
}

h1,h2,h3,p{
  font-family: "OpenSans", sans-serif;
  font-weight: 200;
  margin:0;
  color:rgb(230,230,230);
  text-align: center;
}

a{
  text-decoration: none;
  color:rgb(200,200,200);
}

h1{
  font-size: 1.5rem;
}

h2{
  font-size: 1.3rem;
}

h3{
  font-size: 0.8rem;
  font-weight: 300;
}

span{
  color:white;
  font-weight: 100;
}

.intro-bar{
  position: relative;
  margin:10vh 0;
  height:25vh;
  background-color:rgba(100,100,100,0.20);
}

.intro-bar img{
  position: absolute;
  height:15vh;
  top:5vh;
  left:5vw;
  border:1px solid white;
  border-radius: 10vh;
}

.title{
  position: absolute;
  top:12.5vh;
  left:calc(15vh + 10vw);
  width:calc(85vw - 15vh);
  transform: translate(0,-50%);
}

.slider-title{
  position: absolute;
  left:0;
  bottom:52vh;
  width:100vw;
  font-weight: 100;
  letter-spacing: 0.15rem;
}

#slider{
  position: absolute;
  left:0;
  top:50vh;
  width:100vw;
  height:30vh;
  background-color:rgba(150,150,150,0.225);
}

#slider-objects{
  position: absolute;
  top:100vh;
  left:50vw;
  height:30vh;
  transform: translate(-50%,0);
  transition: left 0.2s;
}

.slider-object{
  position: relative;
  float:left;
  width:40vw;
  height:40vw;
  max-height: 25vh;
  margin-top:15vh;
  margin-left:5vw;
  margin-right:5vw;
  transform: translate(0,-50%);
}

.slider-object img{
  width:30vw;
  margin:0 5vw;
  background-color:rgba(0,0,0,0.7);
  border-radius: 1vh;
}

.slider-object h3{
  width:40vw;
  text-align: center;
  margin-top:calc( (100% - 30vw) / 2);
  transform: translate(0,-50%);
}
